DB_NAME=gitlab_production
DB_PASS=XXXX
DB_USER=gitlab
GITLAB_HTTPS=true
GITLAB_HOST=git.XXXX.com
GITLAB_PORT=443
GITLAB_ROOT_EMAIL=USER@XXX.com
GITLAB_ROOT_PASSWORD=XXX
GITLAB_SECRETS_DB_KEY_BASE=XXX
GITLAB_SECRETS_OTP_KEY_BASE=XXX
GITLAB_SECRETS_SECRET_KEY_BASE=XXX
GITLAB_SSH_PORT=22
OAUTH_ALLOW_SSO=google_oauth2
OAUTH_AUTO_SIGN_IN_WITH_PROVIDER=google_oauth2
OAUTH_BLOCK_AUTO_CREATED_USERS=true
OAUTH_ENABLED=true
OAUTH_GOOGLE_API_KEY=XXX
OAUTH_GOOGLE_APP_SECRET=XXX
OAUTH_GOOGLE_RESTRICT_DOMAIN=XXX
TZ=UTC
GITLAB_TIMEZONE=UTC
DB_HOST=postgresql
REDIS_HOST=redis
REDIS_PORT=6379
SMTP_ENABLED=false
DB_EXTENSION=pg_trgm
