DB_NAME: gitlab
DB_PASS: XXX_DB_PASSWORD
DB_USER: gitlab
GITLAB_SIGNUP_ENABLED: false
GITLAB_USERNAME_CHANGE: false
GITLAB_HTTPS: true
GITLAB_PORT: 443
GITLAB_HOST: XXX_HOSTNAME
GITLAB_ROOT_EMAIL: XXX_ROOT_EMAIL_ADDR
GITLAB_ROOT_PASSWORD: XXX_ROOT_PASSWORD
GITLAB_SECRETS_DB_KEY_BASE: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GITLAB_SECRETS_OTP_KEY_BASE: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
GITLAB_SECRETS_SECRET_KEY_BASE: XXXXXXXXXXXXXXXXXXXXXXXXXXXX
GITLAB_SSH_PORT: 22
OAUTH_ALLOW_SSO: google_oauth2
OAUTH_AUTO_SIGN_IN_WITH_PROVIDER: google_oauth2
OAUTH_BLOCK_AUTO_CREATED_USERS: false
OAUTH_ENABLED: true
OAUTH_GOOGLE_API_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
OAUTH_GOOGLE_APP_SECRET: XXXXXXXXXXXXXXXXXXXXXXXX
OAUTH_GOOGLE_RESTRICT_DOMAIN: XXX_GSUITE_DOMAIN
TZ: UTC
GITLAB_TIMEZONE: UTC
REDIS_HOST: redis
REDIS_PORT: 6379
SMTP_ENABLED: false
DB_EXTENSION: pg_trgm
DEBUG: false
GITLAB_PROJECTS_SNIPPETS: true
GITALY_TOKEN: XXXXXXXXXXXX

GITLAB_BACKUP_SCHEDULE: daily

REGISTRY_HTTP_SECRET: XXXXXXXXXXXXXXXXXX

#GITLAB_PAGES_DOMAIN:
#GITLAB_PAGES_ENABLED: true
#GITLAB_REGISTRY_ENABLED: true
#GITLAB_REGISTRY_HOST:

#git_db_claim: pv-git-db-claim
#git_volume_claim: pv-git-volume-claim
#git_registry_claim: pv-registry-claim
#backup_claim: pv-backup-claim
